:root{
    --main-green: #2aab3d;
    --other-green: #28a745;
    --hero-grey:#4444443f;
    --hero-dark: #00000067;
}

.cardTeam{
    border: 2px solid black;
    box-shadow: 0px 1px 2px 2px darkslategray;
  
}

.heroMain{
    background-image: url('src/assets/Solar installation.jpg');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: var(--hero-dark);
}