*{
    box-sizing: border-box;

}
/* Define a CSS variable for the background color */
:root {
    --main-green: #4aab3d; /* Default background color */
  }
.main {
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 2px 4px 3px #2b2828
}

video {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
  }
.content Button{
    border-radius: 40px;
    background-color: transparent;   
    border-color: var(--main-green);
    color: #4aab3d;
}

.about-head{
    background-color: #4aab3d;
    text-align: justify;
    border-radius: 4rem 0;
}

/* .abtBtn{
    background-color: var(--main-green);
    color: black;
    transform: perspective(1px) translateZ(0);
    position: relative;
    border-radius: 3rem;
    transition-property: color;
    transition-duration: 0.3s;
    &:hover{
        background-color: #000;
    }
} */

.card-icon{
    color: rgba(15, 15, 15, 0.736);
    margin-bottom: 15px;

}
.servhome{
    position: relative;
    margin: 2vh 0vw;
    color: black;
    border: 5px solid var(--main-green);
    border-radius: 4rem 0px;
    background-color: white;
    box-shadow: 1px 1px 2px 2px slategray;
    transition: background-color 0.3s ease-in;
}

.servhome:hover{
    color: whitesmoke;
    background-color: rgba(0,0,0, 0.5);
    border-color: #28a754;
    border-radius: 0px 4rem;
    .servImg{
        opacity: 0.6;
    }
}

.servBtn{
    transform: perspective(1px) translateZ(0);
    position: relative;
    border-radius: 3rem;
    transition-property: color;
    transition-duration: 0.3s;
}

.servBtn:hover{
    background-color: var(--main-green);
}


.teamHead{
    background: #4aab3d;
    font-weight:bolder; 
    font-size:35px; 
    color:white;
     border-radius:4rem 0;
    padding: 2vh 3vw;
}
.teamcard{
    height: 400px;
    width: auto;
    box-shadow: 0px 2px 3px 2px darkslategray;
    border: 2px solid lightgray;
    overflow: hidden;
    position: relative;
    margin: 2vh 0px;
}

.teamBody{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #1f3d4738;
    backdrop-filter: blur(5px);
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s ease-in-out;
}

.teamBtn{
    background-color: var(--main-green);
    color: white;
    transform: perspective(1px) translateZ(0);
    position: relative;
    border-radius: 3rem;
    transition-property: color;
    transition-duration: 0.3s;
    &:hover{
        background-color: #000;
        color: var(--main-green);
    }
}

.teamcard:hover .teamBody {
    right: 0;
}


.teamImg{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
  
.faq{
    height:auto;
    background-color: #4aab3d;
    border-radius:0 4rem;
    font-weight: bold;
    transition: all 0.2s ;
    border: 3px solid lightslategray;
    box-shadow: 0px 2px 2px 1px lightslategrey;
}
.faq:hover{
    /* color: #000; */
    border-radius: 4rem 0;
}

.fEnd a :hover {
    color: #4aab3d;
}


/* contact Us styling */
.contactForm{
    position: relative;
    border: 2px solid black;
    box-shadow: 0px 2px 3px 2px darkslategray;
    margin: 0vh 10vw 10vh 0vw;
    padding: 5%;
    background: url("src/assets/Solar installation new.jpg");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.contactBody{
    position: relative;
}
.contactBody h4{
    color: #28a754;
}
.contactBtn{
    margin: 0vh 20vw;
    text-align: center;
    color: #4aab3d;
    border-color: #4aab3d;
    &:hover{
        background-color: #000;
        color: white;
    }
}