:root{
    --main-green: #2aab3d;
    /* --main-green: #304D30; */
    --other-green: #28a745;
    --hero-grey:#4444443f;
    --hero-dark: #00000067;
    
}

.appForm{
    border: 2px solid var(--other-green);
    box-sizing: border-box;
    border-radius: 0px 4rem;
    box-shadow: 0px 2px 3px 2px darkslategray;
    background: url("src/assets/innovation.jpg");
    background-position: fixed;
    background-blend-mode: overlay;
    background-color: #0000006d;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover{
        border-radius: 4rem 0px;
    }
}

.appForm .label{
    color: var(--main-green);
    font-weight: bolder;
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.dashBtn{
    background-color: var(--main-green);
    border-radius: 8px;
    box-shadow: 0px 3px 2px 3px var(--hero-grey);
    color: white;
    &:hover{
        color: white;
        border-color: var(--main-green);
        background-color: #000;
    }
}

.secondBtn{
    border-radius: 8px;
    box-shadow: 0px 3px 2px 3px var(--hero-grey);
    &:hover{
        color: white;
        background-color: #000;
    }
}

